@use "../../styles/utils/color.scss" as color;
@import "../../styles/mixins/mediaQueries.scss";

.container {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 4rem;

  @include medium {
    padding: 2.4rem 1.5rem;
  }

  &__left {
    display: flex;
    gap: 3rem;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__textsun {
    font-size: 1.5rem;
    font-weight: bold;
    color: color.$color-primary-light;
    margin-left: 0.1rem;
    transition: color 0.3s ease;
    text-decoration: none;
  }

  &__textmoon {
    font-size: 1.5rem;
    font-weight: bold;
    color: color.$color-tertary-dark;
    margin-left: 0.1rem;
    transition: color 0.3s ease;
    text-decoration: none;
  }

  &__about {
    text-decoration: none;
    color: color.$color-primary-medium;

    &:hover {
      color: color.$color-secondary-light;
    }
  }

  &__icon {
    font-size: 1.4rem;
    cursor: pointer;
  }

  &__sun {
    color: color.$color-tertiary-light;

    &:hover {
      color: color.$color-secondary-light;
      transition: color 0.5s ease;
    }
  }

  &__moon {
    color: color.$color-tertiary-light;

    &:hover {
      color: color.$color-secondary-dark;
      transition: color 0.5s ease;
    }
  }
}
