@use "../../styles/utils/color.scss" as color;
@import "../../styles/mixins/mediaQueries.scss";
@import "../../styles/mixins/fontSizes.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;

  @include medium {
    flex-direction: column;
  }

  &__left {
    width: 60%;
    display: flex;
    flex-direction: column;

    @include medium {
      text-align: center;
      width: 100%;
    }
  }

  &__right {
    width: 40%;
    display: flex;
    justify-content: flex-end;

    @include medium {
      width: auto;
    }
  }

  &__headingSun {
    @include responsive-font-size(3rem);
    // font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__headingMoon {
    @include responsive-font-size(3rem);
    margin-bottom: 1rem;
    color: color.$color-secondary-light;
  }

  &__descriptionSun {
    @include responsive-font-size(1.3rem);
    margin-top: 0;
    color: color.$color-primary-medium;
  }

  &__descriptionMoon {
    @include responsive-font-size(1.3rem);
    margin-top: 0;
    color: color.$color-tertiary-light;
  }

  &__nameSun {
    color: color.$color-primary-light;
  }

  &__nameMoon {
    color: color.$color-tertary-dark;
  }

  &__iconLeft {
    @include medium {
      display: none;
    }
  }

  &__iconUp {
    display: none;

    @include medium {
      display: block;
    }
  }

  &__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 60% 60% 40% 70% / 40% 100% 30% 70%;
    border: 1px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
}
