@use "../app/styles/utils/color.scss" as color;

.container {
  height: 100vh;
}

.light {
  background-color: color.$color-secondary-light;
  transition: background-color 0.3s ease;
}

.dark {
  background-color: color.$color-secondary-dark;
  transition: background-color 0.3s ease;
}
